.opcoes-lista {
    padding: 120px 0px;
}

.opcoes-lista h2 {
    margin-bottom: 40px;
    text-align: center;
}

.opcoes-lista ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.opcoes-lista li {
    border: 2px solid var(--cor-p2);
    color: var(--cor-11);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    width: 200px;
    border-radius: 4px;
    padding: 20px;
}

.opcoes-lista a {
    display: block;
}

.opcoes-lista img {
    margin-bottom: 16px;
}

.opcoes-lista h3 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.opcoes-lista h3::before {
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    background-color: var(--cor-p2);
    margin-right: 8px;
    border-radius: 2px;
    transition: 0.2s;
}


.opcoes-lista a:hover h3::before {
    width: 24px;
}


.opcoes-lista li span {
    padding-left: 20px;
}

@media (max-width: 800px) {
    .opcoes-lista {
        padding: 60px;
    }

    .opcoes-lista ul {
        gap: 20px;
    }

    .opcoes-lista li {
        width: 220px;
        padding: 12px;
    }

    .opcoes-lista span {
        font-size: 0.8125rem;
    }

    .opcoes-lista h3 {
        margin-bottom: 0px;
    }

}